<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<p>
  Has <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
</p>

<% if not @user.ratings.empty? %>
  <h3> ratings </h3>
<% end %>

<ul>
    <% @user.ratings.each do |rating| %>
        <li> <%= rating %> <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
    <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
