<h1> Ratings </h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%= render 'top', title: "beers", list: @top_beers %>
    </div>
    <div class="col">
      <%= render 'top', title: "breweries", list: @top_breweries %>
    </div>
  </div>
</div>



<h3>Recent ratings</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Score</th>
      <th>Rated by</th>
    </tr>
  </thead>

  <tbody>
    <% @recent_ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, beer_path(rating.beer_id) %></td>
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, user_path(rating.user_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p> Total number of ratings: <%= @ratings.count %> <p>
