<h1> Ratings </h1>

<div class="container">
  <div class="row">
    <div class="col col-sm-4">
      <!-- cachataan -->
      <% cache 'top_beers', skip_digest:true, expires_in:10.minutes do %>
        <%= render 'top', title: "Best beers", column_title: "average", list: @top_beers %>
      <% end %>
      <!-- cachaus loppuu -->
    </div>
    <div class="col col-sm-4">
      <!-- cachataan -->
      <% cache 'top_breweries', skip_digest:true, expires_in:10.minutes do %>
        <%= render 'top', title: "Best breweries", column_title: "average", list: @top_breweries %>
      <% end %>
      <!-- cachaus loppuu -->
    </div>
    <div class="col col-sm-4">
      <!-- caschataan -->
      <% cache 'top_styles', skip_digest:true, expires_in: 10.minutes do %>
        <%= render 'top', title: "Best styles", column_title: "average", list: @top_styles %>
      <% end %>
      <!-- cachaus loppuu -->
    </div>
  </div>
</div>

<!-- cachataan -->
<% cache 'top_users', skip_digest:true, expires_in:10.minutes do %>

  <h3>Most active users</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>ratings</th>
      </tr>
    </thead>

    <tbody>
      <% @top_users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user %></td>
          <td><%= user.ratings.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<!-- cachaus loppuu -->


<!-- cachaus alkaa -->
<% cache 'recent_ratings', skip_digest:true, expires_in:10.minutes do %>

  <h3>Recent ratings</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Beer</th>
        <th>Score</th>
        <th>Rated by</th>
      </tr>
    </thead>

    <tbody>
      <% @recent_ratings.each do |rating| %>
        <tr>
          <td><%= link_to rating.beer.name, beer_path(rating.beer_id) %></td>
          <td><%= rating.score %></td>
          <td><%= link_to rating.user.username, user_path(rating.user_id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<!-- cachaus loppuu -->

<!-- cachaus alkaa -->
<% cache 'ratings_count', skip_digest:true, expires_in:10.minutes do %>
  <p> Total number of ratings: <%= @ratings_count %> <p>
<% end %>
